body {
    background-color: #002222;
}
body {
    color: lightpink;
}
a:link {
    color: pink;
}
a:visited {
    color: lightgreen
}
a:hover {
    color: darksalmon
}
a:active {
    color: yellow
}
.img30 {
    height: auto;
    width: 30%;
}
